extends ./board-layout.pug

block board-content
  .home-navigation
    span
      a(href="/"): span.entypo-home
      span.entypo-right-open-mini
      a(href="/boards") Boards
      span.entypo-right-open-mini
      a(href="#") Jetsurf Race Titatium

  .board-main
    .board-media-gallery
      .board-media-gallery-preview
        div.item: img(src="https://www.motosurfnation.com/media/k2/items/cache/ccb4e23c8aa216f1e96d31ab209c036b_L.jpg" height="500px")
      .board-media-gallery-controls
        div.item: img(src="https://www.motosurfnation.com/media/k2/items/cache/ccb4e23c8aa216f1e96d31ab209c036b_L.jpg" height="100px")

    .board-information
      h1.board-title Jetsurf Race Titatium
      p.board-overview This exclusive and high performance board is only available to racers member of FIDSM (Federation Internationale du Surf Motorisé). The Jetsurf Race Titanium has been designed for sharp turns at high speed and features additional horse power.
      .addthis_inline_share_toolbox
