extends ../layout.pug

block custom-scripts
  script(src="/javascripts/boardItem.js")

block custom-styles
  link(rel="stylesheet" href="/stylesheets/boardItem.css")

block main-content
  .board-navigation
    span
      a(href="/"): span.entypo-home
      span.entypo-right-open-mini
      a(href="/boards") Boards
      span.entypo-right-open-mini
      a(href="#") Jetsurf

  .board-main
    .board-media-gallery
      .board-media-gallery-preview
        div.item: iframe(src="https://www.youtube.com/embed/sK6es51x63k" width="90%" height="500px" frameborder="0")
        div.item: img(src="/images/jetboard-surf-fun.png" height="500px")
        div.item: img(src="/images/jetboard-surf-fun-1.png" height="500px")
        div.item: img(src="/images/jetboard-surf-fun-2.png" height="500px")
      .board-media-gallery-controls
        div.item: img(src="/images/video-thumbnail.png" height="100")
        div.item: img(src="/images/jetboard-surf-fun.png" height="100px")
        div.item: img(src="/images/jetboard-surf-fun-1.png" height="100px")
        div.item: img(src="/images/jetboard-surf-fun-2.png" height="100px")

    .board-information
      h1.board-title Jetsurf
      p.board-overview Jetsurf are leaders and pioneers in the race industry and completely dominate the market as far as high performance race boards are concerned. Their petrol driven 86-100cc two stroke engines range in speeds from 55 km/h (34 mph) to 57 km/h (35 mph).
      .addthis_inline_share_toolbox

  .board-review
    header
      h2 Review

    header
      h3 Company Background

    p Martin Sula, as well as being a great designer, is still one of the top team riders today and was determined to push the boundaries of water sports and create a new way to ride.  Martin Sula, Tadej Sterk and Zbynek Bures combined their expertise in combustion engines, hydromechanics, composite materials, and electrical engineering to bring this idea to fruition with the realisation of the Jetsurf power board. Together they have surpassed what they set out to achieve and have produced the most popular and widely sold jet boards.

    header
      h3 Manufacture

    p Jetsurf’s high quality parts and components are manufactured by the Czech company, MSR Engines, who specialise in the development of combustion engines and special electronics. Some of MSR Engines’ other clients include: BMW, Skoda, KTM and Honeywell. The jet boards are then produced in the Czech Republic utilizing the best materials available in the. Jetsurf’s in-house production allows them to guarantee maximum precision and efficient service for their customers.

    header
      h3 Environmental Impact

    p Jetsurf jet boards have been developed with extreme care to minimize environmental impact. Using the most advanced technology, engineers have reduced the weight of the Jetsurf jet board to just 14 kg, or 30lbs. Jetsurf jet boards also comply with the standards for both noise and engine emissions. The complete drive unit is certified and approved by the European Commission and has the European Union CE mark.

    header
      h3 Ease of Travel

    p Jetsurf boards are the only jet boards that can be transported via car, boat and as personal luggage on plane, even though the boards are quite heavy. This allows Jetsurf board owners to travel around the world with ease.
