extends ../layout.pug

block custom-scripts
  script(src="/javascripts/boardItem.js")

block custom-styles
  link(rel="stylesheet" href="/stylesheets/boardItem.css")

block main-content
  .board-navigation
    span
      a(href="/"): span.entypo-home
      span.entypo-right-open-mini
      a(href="/boards") Boards
      span.entypo-right-open-mini
      a(href="#") Jetsurf Ultrasport

  .board-main
    .board-media-gallery
      .board-media-gallery-preview
        div.item: img(src="https://www.motosurfnation.com/media/k2/items/cache/37a06e4a72d6cb27621f1ed829bbee81_L.jpg" height="500px")
      .board-media-gallery-controls
        div.item: img(src="https://www.motosurfnation.com/media/k2/items/cache/37a06e4a72d6cb27621f1ed829bbee81_L.jpg" height="100px")

    .board-information
      h1.board-title Jetsurf Ultrasport
      p.board-overview The Jetsurf Ultrasport is designed for all riders. This model is durable, reliable and has a smaller engine to maximize fuel efficiency for a fun riding experience for all.
      .addthis_inline_share_toolbox

  #disqus_thread.board-comments

  script.
    var disqus_config = function () {
    this.page.url = 'http://localhost:8080/boards/#{board}';  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = 'boards/#{board}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };

    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://jetboardlimited.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();