extends ./board-layout.pug

block board-content
  .home-navigation
    span
      a(href="/"): span.entypo-home
      span.entypo-right-open-mini
      a(href="/boards") Boards
      span.entypo-right-open-mini
      a(href="#") Jetsurf Factory GP

  .board-main
    .board-media-gallery
      .board-media-gallery-preview
        div.item: img(src="/images/Jetsurf-FactoryGP100-Blue.jpg" height="500px")
        div.item: img(src="/images/Jetsurf-FactoryGP100-White.jpg" height="500px")
        div.item: img(src="/images/Jetsurf-FactoryGP100-Silver.jpg" height="500px")
        div.item: img(src="/images/Jetsurf-FactoryGP100-Green.jpg" height="500px")
        div.item: iframe(src="https://www.youtube.com/embed/sK6es51x63k" width="90%" height="500px" frameborder="0")
      .board-media-gallery-controls
        div.item: img(src="/images/Jetsurf-FactoryGP100-Blue.jpg" height="100px")
        div.item: img(src="/images/Jetsurf-FactoryGP100-White.jpg" height="100px")
        div.item: img(src="/images/Jetsurf-FactoryGP100-Silver.jpg" height="100px")
        div.item: img(src="/images/Jetsurf-FactoryGP100-Green.jpg" height="100px")
        div.item: img(src="/images/video-thumbnail.png" height="100px")

    .board-information
      h1.board-title Jetsurf Factory GP
      p.board-overview The Factory GP is the most versatile Jetsurf board to date. Experience great performance in all water conditions whether you are a beginner or a seasoned rider.
      .addthis_inline_share_toolbox
