extends ../layout.pug

block custom-scripts
  script(src="/javascripts/boardItem.js")

block custom-styles
  link(rel="stylesheet" href="/stylesheets/boardItem.css")

block main-content
  .board-navigation
    span
      a(href="/"): span.entypo-home
      span.entypo-right-open-mini
      a(href="/boards") Boards
      span.entypo-right-open-mini
      a(href="#") Lampuga Boost Carbon

  .board-main
    .board-media-gallery
      .board-media-gallery-preview
        div.item: img(src="https://www.motosurfnation.com/media/k2/items/cache/1c0ae2205709722b62e843abc0471a55_L.jpg" height="500px")
      .board-media-gallery-controls
        div.item: img(src="https://www.motosurfnation.com/media/k2/items/cache/1c0ae2205709722b62e843abc0471a55_L.jpg" height="100px")

    .board-information
      h1.board-title Lampuga Boost Carbon
      p.board-overview The Lampuga Boost Carbon is the fastest electric jetboard worldwide. With its 22 horsepower electric powered engine, the Lampuga Boost Carbon reaches a maximum speed of 60 km/h (37 mph). The board has a high end carbon fibre design. The Lampuga Boost is equipped with a 15 horsepower electric powered engine reaching speeds of up to 54 km/h (34 mph). The battery, like all Lampuga batteries, takes max. 120 minutes to charge and lasts up to 40 minutes. The Lampuga Boost Carbon and Lampuga Boost weigh 37kg (81 lb).
      .addthis_inline_share_toolbox

  #disqus_thread.board-comments

  script.
    var disqus_config = function () {
    this.page.url = 'http://localhost:8080/boards/#{board}';  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = 'boards/#{board}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };

    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://jetboardlimited.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();