extends ./board-layout.pug

block board-content
  .home-navigation
    span
      a(href="/"): span.entypo-home
      span.entypo-right-open-mini
      a(href="/boards") Boards
      span.entypo-right-open-mini
      a(href="#") Lampuga Rescue

  .board-main
    .board-media-gallery
      .board-media-gallery-preview
        div.item: img(src="https://www.motosurfnation.com/media/k2/items/cache/fa55c8bad0e242eb7986dc1135b50adb_L.jpg" height="500px")
      .board-media-gallery-controls
        div.item: img(src="https://www.motosurfnation.com/media/k2/items/cache/fa55c8bad0e242eb7986dc1135b50adb_L.jpg" height="100px")

    .board-information
      h1.board-title Lampuga Rescue
      p.board-overview The innovative electric Rescue board from Lampuga is the fastest and easiest way to help people in coastal areas. The board is inflatable for easy storage.
      .addthis_inline_share_toolbox
