extends ./board-layout.pug

block board-content
  .home-navigation
    span
      a(href="/"): span.entypo-home
      span.entypo-right-open-mini
      a(href="/boards") Boards
      span.entypo-right-open-mini
      a(href="#") Lampuga Air

  .board-main
    .board-media-gallery
      .board-media-gallery-preview
        div.item: img(src="https://www.motosurfnation.com/media/k2/items/cache/fc34f61d23b74be53ee07d469bd32064_L.jpg" height="500px")
      .board-media-gallery-controls
        div.item: img(src="https://www.motosurfnation.com/media/k2/items/cache/fc34f61d23b74be53ee07d469bd32064_L.jpg" height="100px")

    .board-information
      h1.board-title Lampuga Air
      p.board-overview The Lampuga Air is the flexible jetboard revolution consisting of two elements: the inflatable hull and the Powerbox containing battery, motor, and fins. This innovative design makes the Lampuga Air light (32 kg / 66 lb) and very easy to use. Deflated, the Lampuga Air fits into the trunk of any car. It is powered by a 15 horsepower engine and can reach speeds of 47 km/h (29 mph). The battery takes max. 120 minutes to charge and lasts up to 40 minutes in the water depending on how it is ridden. The Powerbox can be easily combined with different hulls: Air, Air Plus, and Buddy.
      .addthis_inline_share_toolbox
