extends ./board-layout.pug

block board-content
  .home-navigation
    span
      a(href="/"): span.entypo-home
      span.entypo-right-open-mini
      a(href="/boards") Boards
      span.entypo-right-open-mini
      a(href="#") Onean Carver

  .board-main
    .board-media-gallery
      .board-media-gallery-preview
        div.item: img(src="https://www.motosurfnation.com/media/k2/items/cache/37a06e4a72d6cb27621f1ed829bbee81_L.jpg" height="500px")
      .board-media-gallery-controls
        div.item: img(src="https://www.motosurfnation.com/media/k2/items/cache/37a06e4a72d6cb27621f1ed829bbee81_L.jpg" height="100px")

    .board-information
      h1.board-title Onean Carver
      p.board-overview The Carver is an all round fun board and easy to use. It is designed for those wanting to relax and enjoy long excursions at low speed. The board weighs 12kg, is 245cm long, 75cm wide and with a volume of 170L and power of 4400w.
      .addthis_inline_share_toolbox
