extends ./board-layout.pug

block board-content
  .home-navigation
    span
      a(href="/"): span.entypo-home
      span.entypo-right-open-mini
      a(href="/boards") Boards
      span.entypo-right-open-mini
      a(href="#") Waterwolf MPX-3

  .board-main
    .board-media-gallery
      .board-media-gallery-preview
        div.item: img(src="/images/Waterwolf-MPX3-Blue.jpg" height="500px")
        div.item: img(src="/images/Waterwolf-MPX3-Yellow.jpg" height="500px")
        div.item: img(src="/images/Waterwolf-MPX3-Silver.jpg" height="500px")
        div.item: img(src="/images/Waterwolf-MPX3-Red.jpg" height="500px")
      .board-media-gallery-controls
        div.item: img(src="/images/Waterwolf-MPX3-Blue.jpg" height="100px")
        div.item: img(src="/images/Waterwolf-MPX3-Yellow.jpg" height="100px")
        div.item: img(src="/images/Waterwolf-MPX3-Silver.jpg" height="100px")
        div.item: img(src="/images/Waterwolf-MPX3-Red.jpg" height="100px")
    .board-information
      h1.board-title Waterwolf MPX-3
      .board-overview
        p The Waterwolf-MPX-3 is the new developed electric powered high-tech surfboard. It combines modern technology with the fascination and simplicity of surfing. With the MPX-3 it’s possible to surf soundless and environment-friendly on lakes and rivers without wind and waves. The Waterwolf MPX-3 is perfect to practice the take-off and to make radical manoeuvres and it gives you the feeling of “snowboarding” on flat water. The Waterwolf offers the following features:

        ul
          li Newly developed and twice cooled propeller-propulsion-system, optimized for optimal thrust thereby tight turning manoeuvres possible without stall.
          li High current resistant lithium-ion battery with battery management (BMS) and security system (BSS).
          li Digital start button and/ or Bluetooth Remote Leash with kill-switch.
          li LCD-display with battery voltage percentage terms.
          li Exchangeable battery system with magnetic charging socket.
      .addthis_inline_share_toolbox
