@require 'common'

.about-title
  font-family 'Lato', sans-serif
  font-weight: lighter
  font-size 2em
  text-align: center
  letter-spacing 5px

.about-section
  width 50em
  margin 0 auto

.try-it
  display block
  margin 0 auto
  height 20em
  text-align center

@media (max-width: 822px)
  html
    font-size 12px

@media (max-width: 700px)
  html
    font-size 14px

  .about-section
    font-size 1.2em
    width 90%
    min-width 500px

  .about-title
    min-width 500px