@require 'common'

.about-title
  font-family 'Lato', sans-serif
  font-weight: lighter
  font-size 2rem
  text-align: center
  letter-spacing 0.5rem

.about-section
  width 50em
  margin 0 auto

.try-it
  display block
  margin 0 auto
  height 20em
  text-align center
