@require 'common'

.board-main
  display flex
  width 80%
  margin 0 auto

  .board-media-gallery
    width 50%

    .board-media-gallery-preview
      text-align center
      margin 0 auto

      img
        text-align center
        margin 0 auto

    .board-media-gallery-controls
      margin 2em auto 0 auto

      .item
        border 1px solid #e4e6e8
        border-radius 3px

      .slick-slide
        margin 0 10px

      img
        text-align center
        margin 0 auto
        height 5em

  .board-information
    width 50%

    > .board-title
      font-size 2.5em
      text-transform capitalize
      margin-top 0
      margin-left 0.1em

    > .board-overview
      font-size 1.2em
      font-family Avenir, HelveticaNeue, sans-serif

.board-review
  margin-top 1em
  padding 0 10% 3em 10%
  font-size 1em

  > *
    margin 0 auto
    text-align center

  header
    margin-bottom 2em

    h2
      font-family 'Lato', sans-serif
      font-size 2em
      width 25em
      border-bottom 1px solid #e4e6e8
      margin 0 auto
      padding 1em

    h3
      font-family 'Open Sans', sans-serif
      font-size 1.5em
      text-align left
      text-transform uppercase
      letter-spacing 4px

  .media
    padding 1em

  p
    text-align left
    font-family Avenir, sans-serif