@require 'common'

.board-navigation
  height 20px
  font-family 'Futura', sans-serif
  font-size 15px
  padding 10px

  > span
    padding-left 40px
  a
    text-decoration none
    color black

.board-list
  width 100%
  margin 0 auto
  padding-top 50px

  ul
    list-style-type none
    padding 0
    margin 0
    display flex
    flex-wrap wrap

    .board-item
      width 25%
      text-align center
      padding 0 0 100px 0

      > a
        text-decoration none
        color black
        font-family 'Lato', sans-serif

      img
        width 120px

.board-main
  display flex
  width 80%
  margin 0 auto

  .board-media-gallery
    width 50%

    .board-media-gallery-preview
      text-align center
      margin 0 auto

      img
        text-align center
        margin 0 auto

    .board-media-gallery-controls
      margin 40px auto 0 auto

      .item
        border 1px solid #e4e6e8
        border-radius 3px

      .slick-slide
        margin 0 10px

      img
        text-align center
        margin 0 auto

  .board-information
    width 50%

    > *
      margin-left 20px

    > .board-title
      font-size 42px
      text-transform capitalize
      margin 0 20px

    > .board-price
      font-size 32px

    > .board-overview
      height 200px
      overflow scroll
      font-size 18px
      font-family "Source Sans Pro", Avenir, HelveticaNeue, sans-serif

    > .learn-more
      display block
      color white
      background-color rgb(29, 32, 38)
      width 290px
      height 90px
      text-decoration none
      text-align center
      font-size 22px
      line-height 90px
      font-family 'Futura', sans-serif
      opacity 0.95
      margin 0 auto

.board-review
  padding 0 10% 50px 10%
  font-size 20px

  > *
    margin 0 auto
    text-align center

  header
    margin-bottom 50px

    h2
      font-family 'Lato', sans-serif
      font-size 40px
      width 400px
      border-bottom 1px solid #e4e6e8
      margin 0 auto
      padding 20px

    h3
      font-family 'Open Sans', sans-serif
      font-size 30px
      text-align left
      text-transform uppercase
      letter-spacing 8px

  .media
    padding 50px

  p
    text-align left
