@require 'common'

.board-main
  display flex
  width 80%
  margin 0 auto

  .board-media-gallery
    width 50%

    .board-media-gallery-preview
      text-align center
      margin 0 auto

      img
        text-align center
        margin 0 auto

    .board-media-gallery-controls
      margin 2em auto 0 auto

      .item
        border 1px solid #e4e6e8
        border-radius 3px

      .slick-slide
        margin 0 10px

      img
        text-align center
        margin 0 auto

  .board-information
    width 50%

    > .board-title
      font-size 2.5em
      text-transform capitalize
      margin-top 0
      margin-left 0.1em

    > .board-overview
      font-size 1.2em
      font-family Avenir, HelveticaNeue, sans-serif

.board-comments
   width 80%
   margin 2em auto
