@import 'nib/normalize'

normalize-css()

// Load Icon Fonts
[class*="entypo-"]:before
  font-family 'entypo', sans-serif

.home-navigation
  height 2em
  font-family 'Futura', sans-serif
  font-size 1em
  padding 2em

  span
    text-transform capitalize
  a
    text-decoration none
    color black
    margin 0 1em 0 1em


.faqs dt, .faqs dd { padding: 0 0 0 3em }
.faqs dt { font-size:1.5em; color: #9d9d9d; cursor: pointer; height: 2em; line-height: 2em; margin: 0; padding 0; }
.faqs dd { font-size: 1em; margin: 0 3em 0 0; padding 0; }
.faqs dt { background: url('http://www.designonslaught.com/files/2012/06/expand-icon.png') no-repeat right}
.faqs .expanded { color: black; }
.faqs .expanded { background: url('http://www.designonslaught.com/files/2012/06/expanded-icon.png') no-repeat right}

.faqs
  dt
    &:hover
      color black

@media (max-width: 822px)
  .faqs
    font-size 1em

@media (max-width: 710px)
  .faqs dt
    background none
  .faqs
    background: none

    dt
      font-size 1.25em

  .home-navigation
    font-size 1.5em
    text-align center
