@import 'nib/normalize'

normalize-css()

// Load Icon Fonts
[class*="entypo-"]:before
  font-family 'entypo', sans-serif
  padding 1px 12px

body
  font-family 'Open Sans', sans-serif

#main-header
  display block
  padding 2em
  background-color: #101215

#main-logo
  display block
  text-align center
  padding 0 0 2em 0

  > img
    height: 5em 

#main-nav
  display flex
  justify-content center
  font-family 'Lato', sans-serif
  list-style-type none
  padding 0
  margin 0

  li > .nav-item
    padding 1.5em
    font-size 1em
    font-weight 300
    text-decoration none
    color white
    letter-spacing 3px

#main-footer
  background-color rgb(29, 32, 38)

#main-share-container
  font-family 'Lato', sans-serif
  padding 4em 0 1em 0
  text-align center
  color black

#main-share
  display flex
  list-style-type none
  padding 0
  margin 0
  justify-content center

  > li
    background-color white
    margin 0 1em
    border-radius 2em

    height 4em 
    width 4em
    line-height 4em

    > .nav-item
      text-decoration none
      color rgb(29, 32, 38)
      font-size 2em

#main-small-container
  display flex
  flex-flow column
  justify-content space-between
  font-family 'Lato', sans-serif
  background-color rgb(29, 32, 38)
  text-align center
  padding 1em 0 0 0
  color white

#main-small
  display flex
  list-style-type none
  margin 0
  padding 1em 0
  font-size 1.5em

  > li
    display flex
    flex-grow 1
    justify-content center
    width 0

    &:before
      color #53B3CB

/***
 *      ___ _   _ ____  _______  __
 *     |_ _| \ | |  _ \| ____\ \/ /
 *      | ||  \| | | | |  _|  \  /
 *      | || |\  | |_| | |___ /  \
 *     |___|_| \_|____/|_____/_/\_\
 *
 */

 #intro-word
   color #30343F

.intro
  height 800px
  width 100%
  background-image url('/images/main-background.png')
  background-size 700px, contain
  background-repeat no-repeat
  background-position top 70px right 75px

  &:after
    display block
    margin-top 250px
    width 100%
    text-align center
    font-family 'entypo'
    font-size 2.7465625rem
    content "\e764"
    color rgb(29, 32, 38)

  .intro-title
    font-family 'Lato', sans-serif
    font-size 80px
    font-weight 300
    color rgb(29, 32, 38)
    margin 0 0 50px 65px
    padding-top 250px

  .intro-buttons
    display flex
    margin 0 0 0 65px

    > .intro-browse
      color white
      background-color rgb(29, 32, 38)
      width 290px
      height 90px
      margin-right 20px
      text-decoration none
      font-size 22px
      line-height 45px
      font-family 'Futura', sans-serif
      opacity 0.95

      &:hover
        background-color rgb(29*0.5, 32*0.5, 38*0.5)
        opacity 1.0

      > p
        margin-left 20px

.we-are
  height 550px
  background linear-gradient(rgba(29, 32, 38, 0.78), rgba(29, 32, 38, 0.78)), url('/images/slade-bg.jpg')
  background-position bottom
  background-size cover
  background-repeat no-repeat

  h2
    text-align center
    font-family 'Lato', sans-serif
    font-weight normal
    padding-top 50px
    font-size 28px
    color white

  > p

    text-align center
    width 610px
    margin 0 auto
    color white
    font-family "Source Sans Pro", Avenir, HelveticaNeue, sans-serif
    font-size 1.250rem
    line-spacing 1.6875rem

.product-ranges
  padding-bottom 50px

  overflow: hidden

  h2
    text-align center
    font-family 'Lato', sans-serif
    font-weight normal
    padding-top 50px
    font-size 36px

  .manufacturers
    margin 0 auto
    padding 50px 0

    .manufacturer
      margin 0 40px

  > p
    text-align center
    width 610px
    margin 50px auto 50px auto
    font-family "Source Sans Pro", Avenir, HelveticaNeue, sans-serif
    font-size 1.250rem
    line-spacing 1.6875rem

  > .range-browse
    display block
    color white
    background-color rgb(29, 32, 38)
    width 290px
    height 90px
    text-decoration none
    text-align center
    font-size 22px
    line-height 90px
    font-family 'Futura', sans-serif
    opacity 0.95
    margin 0 auto

    &:hover
      background-color rgb(29*0.5, 32*0.5, 38*0.5)
      opacity 1.0

.compare-lessons
  height 600px
  background-color #1D2026
  color white
  padding-bottom 100px

  background linear-gradient(rgba(29, 32, 38, 0.78), rgba(29, 32, 38, 0.78)), url('/images/lessons-bg.png')
  background-position bottom
  background-size cover
  background-repeat no-repeat

  > p
    text-align center
    width 800px
    margin 50px auto 50px auto
    font-family "Source Sans Pro", Avenir, HelveticaNeue, sans-serif
    font-size 1.1rem

  h2
    text-align center
    font-family 'Lato', sans-serif
    font-weight normal
    padding-top 50px
    font-size 42px

  > .comparison-container
    display flex
    width 1000px
    margin 0 auto

    > .lesson
      padding 0 40px

      > .title
        font-family 'Lato', sans-serif
        font-size 24px
        letter-spacing 5px
      > .price
        font-family 'Lato', sans-serif
        font-size 54px
        margin 20px 0
      > .description
        font-family 'Lato', sans-serif
        font-size 20px
        line-height 24px


  .find-out-more
    display block
    color white
    border 4px solid white
    background-color rgba(29, 32, 38, 0.6)
    width 282px
    height 82px
    text-decoration none
    text-align center
    font-size 22px
    line-height 41px
    font-family 'Futura', sans-serif
    opacity 0.95
    margin 40px auto 0 auto

    &:hover
      background-color white
      opacity 1.0
      color rgb(29, 32, 38)

.community
  background-color #1D2026

  h2
    text-align center
    font-family 'Lato', sans-serif
    font-weight normal
    padding-top 50px
    font-size 36px
    color white
    margin-top 0

.juicer-feed
  width 100%
  overflow hidden

.referral
  visibility hidden
  background-color #1D2026

/***
 *      ____   ___    _    ____  ____  ____
 *     | __ ) / _ \  / \  |  _ \|  _ \/ ___|
 *     |  _ \| | | |/ _ \ | |_) | | | \___ \
 *     | |_) | |_| / ___ \|  _ <| |_| |___) |
 *     |____/ \___/_/   \_\_| \_\____/|____/
 *
 */

.board-navigation
  height 20px
  font-family 'Futura', sans-serif
  font-size 15px
  padding 10px

  > span
    padding-left 40px
  a
    text-decoration none
    color black

.board-list
  width 100%
  margin 0 auto
  padding-top 50px

  ul
    list-style-type none
    padding 0
    margin 0
    display flex
    flex-wrap wrap

    .board-item
      width 25%
      text-align center
      padding 0 0 100px 0

      > a
        text-decoration none
        color black
        font-family 'Lato', sans-serif

      img
        width 120px

.board-main
  display flex
  width 80%
  margin 0 auto

  .board-media-gallery
    width 50%

    .board-media-gallery-preview
      text-align center
      margin 0 auto

      img
        text-align center
        margin 0 auto

    .board-media-gallery-controls
      margin 40px auto 0 auto

      .item
        border 1px solid #e4e6e8
        border-radius 3px

      .slick-slide
        margin 0 10px

      img
        text-align center
        margin 0 auto

  .board-information
    width 50%

    > *
      margin-left 20px

    > .board-title
      font-size 42px
      text-transform capitalize
      margin 0 20px

    > .board-price
      font-size 32px

    > .board-overview
      height 200px
      overflow scroll
      font-size 18px
      font-family "Source Sans Pro", Avenir, HelveticaNeue, sans-serif

    > .learn-more
      display block
      color white
      background-color rgb(29, 32, 38)
      width 290px
      height 90px
      text-decoration none
      text-align center
      font-size 22px
      line-height 90px
      font-family 'Futura', sans-serif
      opacity 0.95
      margin 0 auto

.board-review
  padding 0 10% 50px 10%
  font-size 20px

  > *
    margin 0 auto
    text-align center

  header
    margin-bottom 50px

    h2
      font-family 'Lato', sans-serif
      font-size 40px
      width 400px
      border-bottom 1px solid #e4e6e8
      margin 0 auto
      padding 20px

    h3
      font-family 'Open Sans', sans-serif
      font-size 30px
      text-align left
      text-transform uppercase
      letter-spacing 8px

  .media
    padding 50px

  p
    text-align left

.full-comparison-pricing
  margin 40px 0 0 0
  color #1D2026

.full-comparison-title
  font-family 'Lato', sans-serif
  font-weight: lighter
  font-size 30px
  text-align: center
  letter-spacing 5px

.full-comparison-container
  display flex
  margin 50px auto 0 auto

  > .lesson
    padding 0 40px 0 40px
    min-width: 300px
    width: 33%

    > .lesson-header
      height: 240px
      padding 40px 40px 0 40px
      background-color #1D2026
      color white

      > .title
        margin 0
        font-family 'Lato', sans-serif
        font-size 24px
        letter-spacing 5px
        text-align center
      > .price
        font-family 'Lato', sans-serif
        font-size 54px
        margin 20px 0
        text-align center
      > .description
        font-family 'Lato', sans-serif
        font-size 12px
        line-height 24px
        font-style italic
        color: grey

    > .lesson-features
      list-style-type: none
      margin 0
      padding: 0

      > li
        padding: 20px 30px

        &:nth-child(even)
          background-color: lightgrey


/***
 *      __  __ _____ ____ ___    _       ___  _   _ _____ ______   __
 *     |  \/  | ____|  _ \_ _|  / \     / _ \| | | | ____|  _ \ \ / /
 *     | |\/| |  _| | | | | |  / _ \   | | | | | | |  _| | |_) \ V /
 *     | |  | | |___| |_| | | / ___ \  | |_| | |_| | |___|  _ < | |
 *     |_|  |_|_____|____/___/_/   \_\  \__\_\\___/|_____|_| \_\|_|
 *
 */

@media (max-width: 1590px)
  .intro
    background-size 550px, contain

    .intro-title
      font-size 65px

@media (max-width: 1280px)
  .intro
    height 700px
    background-size 520px, contain

    &:after
      margin-top: 220px

    .intro-title
      font-size 52px

    .intro-buttons
        .intro-browse
          width 270px
          height 70px
          font-size 19px
          line-height 35px

  .board-list
    ul
      .board-item
        width 33%
        img
          width 120px

  #main-share
    li
      height 50px
      width 50px
      line-height 50px

      > .nav-item
        font-size 25px

@media (max-width: 1180px)
  .intro
    height 600px
    background-size 420px, contain

    &:after
      margin-top: 120px

    .intro-title
      font-size 48px

    .intro-buttons
        .intro-browse
          width 270px
          height 70px
          font-size 19px
          line-height 35px

  .board-list
    ul
      .board-item
        width 50%
        img
          width 150px
