@require 'common'


.intro-title
  text-align center
  font-family 'Lato', sans-serif
  font-size 3em
  font-weight 300
  color #101215

.intro-boards-gallery
  overflow hidden
  margin 0 auto
  background-color: white;
  box-shadow: 0 0 5px 10px white;
  border-radius 50px

  .board
    > img
      margin 0 auto

.intro-browse
  display flex
  color white
  justify-content center
  align-items center
  background-color #101215
  width 18rem
  height 6rem
  margin 2rem auto
  text-decoration none
  font-size 1.4em
  font-family 'Futura', sans-serif
  opacity 0.95
  text-align center

  &:hover
    background-color rgb(29*0.5, 32*0.5, 38*0.5)
    opacity 1.0

.we-are
  height 34em
  background linear-gradient(rgba(29, 32, 38, 0.9), rgba(29, 32, 38, 0.9)), url('/images/slade-bg.jpg')
  background-position bottom
  background-size cover
  background-repeat no-repeat

  h2
    text-align center
    font-family 'Lato', sans-serif
    font-weight normal
    padding-top 2em
    margin: 0
    font-size 2em
    color white

  > p
    padding-top 1em
    text-align center
    width 50em
    margin 0 auto
    color white
    font-weight 100
    font-family Avenir, sans-serif
    font-size 1em

.product-ranges
  padding-bottom 2em
  overflow: hidden

  h2
    text-align center
    font-family 'Lato', sans-serif
    font-weight normal
    padding-top 1em
    font-size 2.5em

  .manufacturers
    margin 0 auto
    padding 3em 0

    .manufacturer
      margin 0 3em

  > p
    text-align center
    width 38em
    margin 3em auto
    font-family Avenir, sans-serif
    font-size 1.25rem

  > .range-browse
    display flex
    color white
    background-color #101215
    width 12em
    height 4em
    text-decoration none
    text-align center
    font-size 1.5em
    justify-content center
    align-items center
    font-family Futura, sans-serif
    opacity 0.95
    margin 0 auto

    &:hover
      background-color rgb(29*0.5, 32*0.5, 38*0.5)
      opacity 1.0

.compare-lessons
  background-color #101215
  color white
  padding-bottom 4em

  background linear-gradient(rgba(29, 32, 38, 0.78), rgba(29, 32, 38, 0.78)), url('/images/lessons-bg.png')
  background-position bottom
  background-size cover
  background-repeat no-repeat

  h2
    text-align center
    font-family 'Lato', sans-serif
    font-weight normal
    padding-top 2em
    font-size 2.50em

  > p
    text-align center
    width 40em
    margin 2em auto 2em auto
    font-family "Source Sans Pro", Avenir, HelveticaNeue, sans-serif
    font-size 1.1rem

  > .comparison-container
    display flex
    width 45em
    margin 0 auto

    > .lesson
      padding 0 1em

      > .title
        font-family 'Lato', sans-serif
        font-size 1.25em
        letter-spacing 0.5em
      > .price
        font-family 'Lato', sans-serif
        font-size 3em
        margin 0.5em 0
      > .description
        font-family 'Lato', sans-serif
        font-size 1em
        line-height 1.25em


  .find-out-more
    display flex
    color white
    border 1px solid white
    background-color rgba(29, 32, 38, 0.6)
    width 11.5em
    height 3.5em
    justify-content center
    align-items center
    text-decoration none
    text-align center
    font-size 1.5em
    font-family 'Futura', sans-serif
    opacity 0.95
    margin 2em auto 0 auto

    &:hover
      background-color white
      opacity 1.0
      color #101215

.community
  background-color #101215

  h2
    text-align center
    font-family 'Lato', sans-serif
    font-weight normal
    padding-top 2em
    font-size 2.5em
    color white
    margin-top 0

.juicer-feed
  width 100%
  overflow hidden

.referral
  visibility hidden
  background-color #101215
