@require 'common'

.partnerships-header

  > .partnerships-title
    font-family 'Lato', sans-serif
    font-weight: lighter
    font-size 2rem
    text-align: center
    letter-spacing 0.5rem

  > .partnerships-description
    width 50rem
    margin 0 auto

  background linear-gradient(rgba(29, 32, 38, 0.9), rgba(29, 32, 38, 0.9)), url('/images/partner.jpg')
  background-size cover
  background-repeat no-repeat
  padding-bottom 5rem
  background-position center
  color white

  span
    color white

  a
    color white

.partnership-type
  text-decoration none
  font-size 1rem

  ul
    li
      color rgb(164, 51, 68)
      p
        color black

  h3
    letter-spacing 0.4rem
    margin-top 0

  small
    letter-spacing 0.1rem

  header
    padding 1rem 0
    color white
    width 100vw

    > *
      padding-left 2rem

  &.sales
    header
      background linear-gradient(rgba(164, 51, 68, 0.9), rgba(164, 51, 68, 0.9))
      background-size cover
      background-repeat no-repeat

    ul
      li
        color rgb(164, 51, 68)
        p
          color black

  &.seasonal
    header
      background linear-gradient(rgba(29, 32, 38, 0.9), rgba(29, 32, 38, 0.9))
      background-size cover
      background-repeat no-repeat
    ul
      li
        color rgb(29, 32, 38)
        p
          color black

  &.ad-hoc
    header
      background linear-gradient(rgba(65, 45, 76, 0.9), rgba(65, 45, 76, 0.9))
      background-size cover
      background-repeat no-repeat

    ul
      li
        color rgb(65, 45, 76)
        p
          color black
