@import 'nib/normalize'
 
normalize-css()

// Load Icon Fonts
[class*="entypo-"]:before
  font-family 'entypo', sans-serif
  padding 1px 12px

body
  font-family 'Open Sans', sans-serif

#main-header
  display flex
  height 100px
  justify-content space-between
  align-items center
  padding 0 50px

#main-nav
  display flex
  font-family 'Lato', sans-serif
  list-style-type none
  padding 0
  margin 0

  li > .nav-item
    padding 15px
    font-size 18px
    font-weight 300
    text-decoration none
    color black

#main-share-container
  font-family 'Lato', sans-serif
  text-align center
  padding 30px 0
  font-size 24px
  color black
  
#main-share
  display flex
  list-style-type none
  padding 0 0 20px 0
  margin 0
  justify-content center

  > li
    background-color rgb(29, 32, 38)
    margin 0 20px
    border-radius 50px
    
    height 75px
    width 75px
    line-height 75px
    
    > .nav-item
      text-decoration none
      color white
      font-size 35px
    
#main-small-container
  display flex
  flex-flow column
  justify-content space-between
  font-family 'Lato', sans-serif
  background-color rgb(29, 32, 38)
  text-align center
  padding 40px 0 10px 0
  font-size 18px
  color white
  height 100px
  
#main-small
  display flex
  list-style-type none
  margin 0
  padding 0
  font-size 24px
  
  > li
    display flex
    flex-grow 1
    justify-content center
    width 0

    &:before
      color #53B3CB
      
.intro
  height 800px
  width 100%
  background-image url('/images/main-background.png')
  background-size 700px, contain
  background-repeat no-repeat
  background-position top 70px right 75px
  
  &:after
    display block
    margin-top 250px
    width 100%
    text-align center
    font-family 'entypo'
    font-size 2.7465625rem
    content "\e764"
    color rgb(29, 32, 38)
    
  .intro-title
    font-family 'Lato', sans-serif
    font-size 80px
    font-weight 300
    color rgb(29, 32, 38)
    margin 0 0 50px 65px
    padding-top 250px
    
  .intro-buttons
    display flex
    margin 0 0 0 65px
    
    > .intro-browse
      color white
      background-color rgb(29, 32, 38)
      width 290px
      height 90px
      margin-right 20px
      text-decoration none
      font-size 22px
      line-height 45px
      font-family 'Futura', sans-serif
      opacity 0.95
      
      &:hover
        background-color rgb(29*0.5, 32*0.5, 38*0.5)
        opacity 1.0
        
      > p
        margin-left 20px
        
.we-are
  height 550px
  background linear-gradient(rgba(29, 32, 38, 0.78), rgba(29, 32, 38, 0.78)), url('/images/slade-bg.jpg')
  background-position bottom
  background-size cover
  background-repeat no-repeat

  h2
    text-align center
    font-family 'Lato', sans-serif
    font-weight normal
    padding-top 50px
    font-size 28px
    color white
    
  > p
    
    text-align center
    width 610px
    margin 0 auto
    color white
    font-family "Source Sans Pro", Avenir, HelveticaNeue, sans-serif
    font-size 1.250rem
    line-spacing 1.6875rem
    
.product-ranges
  height 800px
  
  h2
    text-align center
    font-family 'Lato', sans-serif
    font-weight normal
    padding-top 50px
    font-size 36px
    
  .manufacturers
    margin 0 auto
    padding 50px 0

    .manufacturer
      margin 0 40px
      
  > p
    text-align center
    width 610px
    margin 50px auto 50px auto
    font-family "Source Sans Pro", Avenir, HelveticaNeue, sans-serif
    font-size 1.250rem
    line-spacing 1.6875rem
    
  > .range-browse
    display block
    color white
    background-color rgb(29, 32, 38)
    width 290px
    height 90px
    text-decoration none
    text-align center
    font-size 22px
    line-height 90px
    font-family 'Futura', sans-serif
    opacity 0.95
    margin 0 auto
    
    &:hover
      background-color rgb(29*0.5, 32*0.5, 38*0.5)
      opacity 1.0
