@require 'common'

.under-construction-header
  > .under-construction-title
    font-family 'Lato', sans-serif
    font-weight: lighter
    font-size 2rem
    text-align: center
    letter-spacing 0.5rem

  background-size cover
  background-repeat no-repeat
  background-position center
  color black

.under-construction-desc
  text-align center
  font-size 1.5rem
