extends layout.pug

block custom-styles
  link(rel="stylesheet" href="/stylesheets/about.css")

block custom-scripts
  script(src="/javascripts/about.js")

block main-content
  .home-navigation
    span
      a(href="/"): span.entypo-home
      span.entypo-right-open-mini
      a(href="/about") About

  header
    h1.about-title JETBOARD LIMITED

  .about-section
    header
      h2 Overview

    p Jet Board Limited are the original company that first specialised in all different makes and brands of jet propelled and motorised surf boards. Over the years we have gained a wealth of knowledge and experience which we openly offer our customers. Our advice is honest, unbiased and it covers all the pros and cons of each different brand and model. The information and advice we offer you is based on our own personal experience as well as reviews and feedback from other jet boarders and riders. Jet Board Limited's interest and experience does not start and stop with all the new and latest jet boards.
    p We also have quite a history with the old classic and vintage jet boards which we spent many years buying, restoring, collecting and selling. We still love a good old restoration project and have a great appreciation and attraction to any and all of the jet board history. If you are looking for an old restoration project, need help with one, want to get rid of one or would like your old board restored, then please do get in touch. We provide "NEW AGE JET BOARDS WITH OLD SCHOOL SERVICE".

    header
      h2 FAQs

    dl.faqs
      dt Who we are
      dd
        p The Jet Board Limited team are jet boarders that ride the boards, test the boards, break the boards, review the boards, hire the boards and sell the boards but most of all we just love jet boarding. We are passionate about the whole industry and lifestyle. We are excited about where jet boarding is going and we are proud to play an instrumental role in helping to take the motosurf sport to the next level.

        img.try-it(src="/images/try-it.jpg")

        p We are the jet boarders you see in the water and meet on the beach. We are jet boarders helping and advising other jet boarders. You will generally see us doing business on the beach with wet hair and sand on our feet. Our approach to business is very much hands on and we cannot emphasise enough how important it is to get involved, get wet and get on a board before buy. "Try before you buy" is one of our main mottos because nothing tells the story better than the board itself. This is why we not only sell, but also offer supervised training and hire lessons. Always "TRY BEFORE YOU BUY."
      dt How can you try out a board?
      dd
        p If you would like to try a jet board or jet surf board out and live in the UK then simply contact us. We offer board hire, lessons, and training in Brighton on any board that is worth trying or buying. Whilst the training may seem quite expensive, we can assure you it’s a lot cheaper than buying the wrong board or even worse a dud board. Many people who take lessons with us go on to purchase a different board to the one they thought they wanted.
        p In addition we have satellite divisions that travel, tour and attend shows and festivals across the country so contact us for more information.
        p If you’re in another country we can recommend dependable, reliable contacts that we vouch for and highly recommend.
      dt What about safety?
      dd
        p Before you venture into the water, you will be given an induction and safety briefing, and be provided with all necessary safety equipment. You will then be taught the basic functions on land.
        p Your Jet Board Instructor will be with you at all times and will communicate, train and instruct you constantly. Your instructor will normally take you out on a jet ski, in a zap cat or small safety boat to a safe area with open water. Here you can try out the jet board or jet surf board under strict instructions. The instructor will follow you at a safe distance and advise you on how to improve.
      dt Are there brands we don't work with?
      dd
        p Unfortunately there are certain brands we don’t deal with purely because we don’t believe in the product or the supplier. These will become transparent while using this site. For example there are a lot of wannabe jet board and jet surf designers that appear quite big and established to the untrained eye but don’t be fooled into purchasing what looks like a dream machine but actually is nothing but a nightmare. There are also loads of prototypes that never really make it in the industry but do unfortunately make it far enough to be bought by you.
      dt Can we recommend a board for you?
      dd
        p Without a doubt. We offer free advice, recommendations and unbiased reviews on all models and makes of jet boards and jet surf boards. If you tell us your needs and budget, we will recommend the board that is best suited to you. We’re not tied in to any one brand or supplier and you can be sure we’ll give you the honest truth and impartial advice.
      dt Are jet boards and jet surf boards different?
      dd
        p Yes – there are so many different boards that appear similar but differ in major ways, noticeably in maintenance needs, usability, reliability and price. As a first time buyer it can be near impossible to fully understand the different options and make the best informed choice.
      dt Do the boards require a lot of maintenance?
      dd
        p Yes! Don’t be fooled by manufacturers which claim otherwise. They certainly are not a case of start up, jump on, ride and back away until next time. As an owner of a jet board or jet surf board you need to be dedicated: before riding you need to prepare your board; during riding things can and do go wrong, so you’ll need to stop and repair the board; after riding you need to clean, flush and service the board.
      dt How can you purchase a board?
      dd
        p If you live in the UK and purchase from abroad you can have endless hassles with guarantees and may have to send your board to a foreign country for maintenance – leaving your board-free for far too long! Jet Board Limited offers you the advantage of being able to purchase locally in the UK. We provide a personalised service, peace of mind and the satisfaction of knowing what you are purchasing and who you are purchasing from.
        p If you live outside the UK, just contact us and we’ll recommend one of our reputable hire and sales companies from our worldwide network of contacts.
      dt You can't afford to purchase a board - What now?
      dd
        p Even if you can’t afford to buy your own board, you can still get the chance to experience the ride of a lifetime by hiring a board and having a lesson with one of our personal instructors. Lessons are fixed prices but we can offer tailor made packages at your request. Jet Board limited are able to provide boards and instructors at private and public events so please contact us for prices for your event or function.
      dt Can you just hire a board?
      dd
        p Jet Board Limited will only allow hire of the jet boards and jet surf boards if the instructor feels you are competent and capable.

        p Many people find the first session quite difficult, challenging and tiring although that of course depends on your skill, fitness level and board chosen. Your Instructor will help you choose the right board based on his assessment of you and your skills together with the information you provide.

        p At the end of the day the board choice is yours and we only offer guidance and recommendations. Your board will then be prepared for you unless you have requested more intensive training which would include preparation, break downs and maintenance.