extends layout.pug

block custom-styles
  link(rel="stylesheet" href="/stylesheets/boardList.css")

block main-content
  .board-navigation
    span
      a(href="/"): span.entypo-home
      span.entypo-right-open-mini
      a(href="/boards") Boards

  .board-list
    nav: ul
      li.board-item: a(href="/boards/jetsurf-factory")
        img(src="/images/jetboard-surf-fun-1.png" height="500px")
        h2 Jetsurf Factory GP
      li.board-item: a(href="/boards/jetsurf-race-titanium")
        img(src="https://www.motosurfnation.com/media/k2/items/cache/6f43b5263fbba79c5962514b85d34738_L.jpg" height="500px")
        h2 Jetsurf Race Titanium
      li.board-item: a(href="/boards/jetsurf-race")
        img(src="https://www.motosurfnation.com/media/k2/items/cache/ccb4e23c8aa216f1e96d31ab209c036b_L.jpg" height="500px")
        h2 Jetsurf Race
      li.board-item: a(href="/boards/jetsurf-ultrasport")
        img(src="https://www.motosurfnation.com/media/k2/items/cache/94d43e327d9303539cb1e2aac7032668_L.jpg" height="500px")
        h2 Jetsurf Ultrasport
      li.board-item: a(href="/boards/onean-carver")
        img(src="https://www.motosurfnation.com/media/k2/items/cache/37a06e4a72d6cb27621f1ed829bbee81_L.jpg" height="500px")
        h2 Onean Carver
      li.board-item: a(href="/boards/onean-manta")
        img(src="https://www.motosurfnation.com/media/k2/items/cache/8fe3e0f34d3083cba6fe73d62a783d7f_L.jpg" height="500px")
        h2 Onean Manta
      li.board-item: a(href="/boards/waterwolf-mpx-3")
        img(src="https://www.motosurfnation.com/media/k2/items/cache/8b6e33345ac8d5ffd9cf0d107a7d9e9d_L.jpg" height="500px")
        h2 Waterwolf MPX-3
      li.board-item: a(href="/boards/radinn-wakejet")
        img(src="https://www.motosurfnation.com/media/k2/items/cache/01f1a05053c6242fcfa23075e5b963c1_L.jpg" height="500px")
        h2 Radinn Wakejet Cruise
      li.board-item: a(href="/boards/lampuga-boost-carbon")
        img(src="https://www.motosurfnation.com/media/k2/items/cache/1c0ae2205709722b62e843abc0471a55_L.jpg" height="500px")
        h2 Lampuga Boost Carbon
      li.board-item: a(href="/boards/lampuga-rescue")
        img(src="https://www.motosurfnation.com/media/k2/items/cache/fa55c8bad0e242eb7986dc1135b50adb_L.jpg" height="500px")
        h2 Lampuga Rescue
      li.board-item: a(href="/boards/lampuga-air")
        img(src="https://www.motosurfnation.com/media/k2/items/cache/fc34f61d23b74be53ee07d469bd32064_L.jpg" height="500px")
        h2 Lampuga Air