extends layout.pug

block custom-styles
  link(rel="stylesheet" href="/stylesheets/boardList.css")

block main-content
  .board-navigation
    span
      a(href="/"): span.entypo-home
      span.entypo-right-open-mini
      a(href="/boards") Boards

  .board-list
    nav: ul
      li.board-item: a(href="/boards/jetsurf")
        img(src="/images/jetboard-surf-fun.png" width="175px")
        h2 Jetsurf
      li.board-item: a(href="/boards/jetsurf")
        img(src="/images/jetboard-surf-fun.png" width="175px")
        h2 Lampuga
      li.board-item: a(href="/boards/jetsurf")
        img(src="/images/jetboard-surf-fun.png" width="175px")
        h2 Radinn
      li.board-item: a(href="/boards/jetsurf")
        img(src="/images/jetboard-surf-fun.png" width="175px")
        h2 Onean
      li.board-item: a(href="/boards/jetsurf")
        img(src="/images/jetboard-surf-fun.png" width="175px")
        h2 Waterwolf
