extends layout.pug

block main-content
  .board-navigation
    p #[span.entypo-home] #[span.entypo-right-open-mini] Boards
  .board-list
    nav: ul
      li.board-item: a(href="/boards/jetsurf")
        img(src="/images/jetboard-surf-fun.png" width="175px")
        h2 Jetboard Model
      li.board-item: a(href="/boards/jetsurf")
        img(src="/images/jetboard-surf-fun.png" width="175px")
        h2 Jetboard Model
      li.board-item: a(href="/boards/jetsurf")
        img(src="/images/jetboard-surf-fun.png" width="175px")
        h2 Jetboard Model
      li.board-item: a(href="/boards/jetsurf")
        img(src="/images/jetboard-surf-fun.png" width="175px")
        h2 Jetboard Model
      li.board-item: a(href="/boards/jetsurf")
        img(src="/images/jetboard-surf-fun.png" width="175px")
        h2 Jetboard Model
      li.board-item: a(href="/boards/jetsurf")
        img(src="/images/jetboard-surf-fun.png" width="175px")
        h2 Jetboard Model
      li.board-item: a(href="/boards/jetsurf")
        img(src="/images/jetboard-surf-fun.png" width="175px")
        h2 Jetboard Model
