extends layout.pug

block main-content
  .board-navigation
    p #[span.entypo-home] #[span.entypo-right-open-mini] Boards #[span.entypo-right-open-mini] #{board}
  .board-main
    .board-media-gallery
      .board-media-gallery-preview
        div.item: img(src="/images/jetboard-surf-fun.png" height="600px")
        div.item: iframe(src="https://www.youtube.com/embed/Vu43i4kgw4M" width="90%" height="600px" frameborder="0")
      .board-media-gallery-controls
        div.item: img(src="/images/jetboard-surf-fun.png" height="100px")
        div.item: img(src="/images/video-thumbnail.png" height="100px")

    .board-information
      h1.board-title #{board}
      h2.board-price £10,500
      p.board-overview Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  .board-review
    header
      h2 Review

    p Something Else