extends layout.pug

block custom-styles
  link(rel='stylesheet' href='/stylesheets/contacts.css')

block main-content
  header.partnerships-header
    .home-navigation
      span
        a(href="/"): span.entypo-home
        span.entypo-right-open-mini
        a(href="/partnerships") Contacts
    h2.contacts-title CONTACTS
