extends layout.pug

block custom-scripts
  script(src="/javascripts/index.js")

block main-content
  .intro
    header
      h1.intro-title We #[strong#intro-word sell] Jetboards
    .intro-buttons
      a.intro-browse(href="boards"): p.entypo-down-open Browse Our Boards
  .we-are
    header
      h2 We're a jetboarding specialist company...

    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

  .product-ranges
    header
      h2 Our Products
    .manufacturers
      .manufacturer: img(src="images/radinn-logo.jpg" height="100px")
      .manufacturer: img(src="images/lampuga-logo.png" height="100px")
      .manufacturer: img(src="images/jetsurf-logo.png" height="100px")
      .manufacturer: img(src="images/oneon-logo.png" height="100px")
      .manufacturer: img(src="images/waterwolf-logo.png" height="100px")
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

    a.range-browse(href="boards"): p Browse Our Selection
  .compare-lessons
    header
      h2 Lessons

    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.

    .comparison-container
      .lesson.starter
        h3.title.entypo-paper-plane STARTER
        p.price £100
        p.description First time users wanting to experience the Jet Board or Jet Surf Board.
      .lesson.advanced
        h3.title.entypo-rocket ADVANCE
        p.price £600
        p.description Recommended if you want to purchase the Jet Board or Jet Surf Board.
      .lesson.ultimate
        h3.title.entypo-flash ULTIMATE
        p.price £250
        p.description The ultimate experience. involving 6 hours including training and time in the water.

    a.find-out-more(href="lessons"): p Learn More
  .community
    h2 See Our Community
    ul.juicer-feed(data-feed-id="jet-board-limited-jetsurf" data-pages="1" data-per="15")

