doctype html

head
    title JetBoard Limited
    meta(charset='utf-8')
    meta(name='description' content='A jetboarding company based in Brighton. We sell, hire and teach jetboards. We also do brand partnerships.')

body
    p Hello world!
