extends layout.pug

block main-content
  .intro
    header
      h1.intro-title We #[strong#intro-word sell] Jetboards
    .intro-buttons
      a.intro-browse(href="boards"): p.entypo-down-open Browse Our Boards
  .we-are
    header
      h2 We're a jetboarding specialist company...

    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.