doctype html

head
  title Jetboard Limited
  meta(charset='utf-8')
  meta(name='description' content='A jetboarding company based in Brighton. We sell, hire and teach jetboards. We also do brand partnerships.')
  link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato|Open+Sans")
  link(rel="stylesheet" href="http://weloveiconfonts.com/api/?family=entypo")
  link(rel="stylesheet" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css")
  link(rel="stylesheet" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css")
  link(rel="stylesheet" href="//assets.juicer.io/embed.css")
  link(rel="stylesheet" href="/stylesheets/layout.css")
  block custom-styles
body
  header#main-header
    a#main-logo(href='/')
      img(src='/images/company-logo.png' alt='Missing Logo')
    nav: ul#main-nav
      li: a.nav-item(href='/boards') BOARDS
      li: a.nav-item(href='/lessons') LESSONS
      li: a.nav-item(href='/forum') FORUM
      li: a.nav-item(href='/about') ABOUT
  main#main-content
    block main-content
  footer#main-footer
    #main-share-container
      nav: ul#main-share
        li: a.nav-item.entypo-facebook(href='//facebook.com/Jet.Board.Limited.Jetsurf')
        li: a.nav-item.entypo-twitter(href='//twitter.com/jetboardlimited')
        li: a.nav-item.entypo-gplus(href='//plus.google.com/104230879418632683498')
    #main-small-container
      ul#main-small
        li.entypo-phone 01273 737 269
        li.entypo-mail hello@jetboardlimited.com
        li.entypo-location 106 Queens Rd, Brighton
      p.copyright Copyright © 2016 JetBoard Limited
  script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.0.0/jquery-migrate.min.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js")
  script(src="//assets.juicer.io/embed.js")
  script(src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5907cf48d3290eda")
  block custom-scripts
