extends layout.pug

block main-content
    header.full-comparison-pricing
        h2.full-comparison-title LESSON FEATURES

    .lesson.starter
        .lesson-header
            h3.title.entypo-paper-plane STARTER
            p.price £100
            p.description First time users wanting to experience the Jet Board or Jet Surf Board.
        ul.lesson-features
            li Things
            li Things
            li Things
            li Things
            li Things
    .lesson.advanced
        .lesson-header
            h3.title.entypo-rocket ADVANCE
            p.price £600
            p.description Recommended if you want to purchase the Jet Board or Jet Surf Board.
        ul.lesson-features
            li Things
            li Things
            li Things
            li Things
            li Things
    .lesson.ultimate
        .lesson-header
            h3.title.entypo-flash ULTIMATE
            p.price £250
            p.description The ultimate experience. involving 6 hours including training and time in the water.
        ul.lesson-features
            li Things
            li Things
            li Things
            li Things
            li Things

    header.full-comparison-pricing
        h2.full-comparison-title COMPARISON

    .full-comparison-container
        .lesson.starter
            .lesson-header
                h3.title.entypo-paper-plane STARTER
                p.price £100
                p.description First time users wanting to experience the Jet Board or Jet Surf Board.
            ul.lesson-features
                li Things
                li Things
                li Things
                li Things
                li Things
        .lesson.advanced
            .lesson-header
                h3.title.entypo-rocket ADVANCE
                p.price £600
                p.description Recommended if you want to purchase the Jet Board or Jet Surf Board.
            ul.lesson-features
                li Things
                li Things
                li Things
                li Things
                li Things
        .lesson.ultimate
            .lesson-header
                h3.title.entypo-flash ULTIMATE
                p.price £250
                p.description The ultimate experience. involving 6 hours including training and time in the water.
            ul.lesson-features
                li Things
                li Things
                li Things
                li Things
                li Things
