extends layout.pug

block custom-styles
  link(rel="stylesheet" href="/stylesheets/lessons.css")

block main-content
    .board-navigation
        span
          a(href="/"): span.entypo-home
          span.entypo-right-open-mini
          a(href="/lessons") Lessons

    header.full-comparison-pricing
        h2.full-comparison-title LESSON COMPARISON

    .full-comparison-container
        .lesson.starter
            .lesson-header
                h3.title.entypo-paper-plane STARTER
                p.price £100
                p.description First time users wanting to experience a Jet Board or a Jet Surf Board.
            ul.lesson-features
                li.entypo-check Board Hire
                li.entypo-check Personal Instructor
                li.entypo-check Safety Briefing and Equipment Hire
                li.entypo-check Rescue Jet Ski or Zap Cat
                li.entypo-check Onshore Training – 30 minutes
                li.entypo-check In Water Training – 30 minutes
        .lesson.advanced
            .lesson-header
                h3.title.entypo-rocket ADVANCE
                p.price £250
                p.description Recommended if you want to purchase a Jet Board or a Jet Surf Board.
            ul.lesson-features
                li.entypo-check Board Hire
                li.entypo-check Personal Instructor
                li.entypo-check Safety Briefing and Equipment Hire
                li.entypo-check Rescue Jet Ski or Zap Cat
                li.entypo-check Onshore Training – 90 minutes
                li.entypo-check In Water Training – 270 minutes
                li.entypo-check Mechanical and Maintenance Training
        .lesson.ultimate
            .lesson-header
                h3.title.entypo-flash ULTIMATE
                p.price £600
                p.description The ultimate experience. involving 6 hours including training and time in the water.
            ul.lesson-features
                li.entypo-check Board Hire
                li.entypo-check Personal Instructor
                li.entypo-check Safety Briefing and Equipment Hire
                li.entypo-check Rescue Jet Ski or Zap Cat
                li.entypo-check Onshore Training – 90 minutes
                li.entypo-check In Water Training – 270 minutes
                li.entypo-check Mechanical and Maintenance Training
                li.entypo-check Multiple Jet Boards and Jet Surf Boards
                li.entypo-check Experience The Jet Ski or Zap Cat
                li.entypo-check Waterproof Cameras and Go Pros To Record The Day
                li.entypo-check Refreshments, Snacks and Lunch
                li.entypo-check Full Jet Board Limited Team Rider Club Membership (includes a Team Rider ID card, Team Rider T shirt and cap).