extends layout.pug

block custom-styles
  link(rel="stylesheet" href="/stylesheets/lessons.css")

block main-content
    .home-navigation
        span
          a(href="/"): span.entypo-home
          span.entypo-right-open-mini
          a(href="/lessons") Lessons

    header
        h1.full-comparison-title LESSON OPTIONS

    .full-comparison-container
        .lesson.starter
            .lesson-header
                h3.title.entypo-paper-plane STARTER
                p.hour 1 Hour
                p.price £150
                p.description First time users wanting to experience a Jet Board or a Jet Surf Board.
            ul.lesson-features
                li.entypo-check Board Hire
                li.entypo-check Personal Instructor
                li.entypo-check Safety Briefing and Equipment Hire
                li.entypo-check Onshore Training – 30 minutes
                li.entypo-check In Water Training – 30 minutes
        .lesson.advanced
            .lesson-header
                h3.title.entypo-rocket ADVANCE
                p.hour 2 Hour
                p.price £250
                p.description Recommended if you want to purchase a Jet Board or a Jet Surf Board.
            ul.lesson-features
                li.entypo-check Board Hire
                li.entypo-check Personal Instructor
                li.entypo-check Safety Briefing and Equipment Hire
                li.entypo-check Onshore Training – 30 minutes
                li.entypo-check In Water Training – 30 minutes
                li.entypo-check Mechanical and Maintenance Training - 60 minutes
                li.entypo-check 50% Lesson Fee Discount If Purchasing A Board
                li.entypo-check Complementary Jet Board Team Rider Shirt and Cap If Purchasing A Board
        .lesson.ultimate
            .lesson-header
                h3.title.entypo-flash ULTIMATE
                p.hour 6 Hour
                p.price £600
                p.description The ultimate experience. involving 6 hours including training and time in the water.
            ul.lesson-features
                li.entypo-check Board Hire
                li.entypo-check Personal Instructor
                li.entypo-check Safety Briefing and Equipment Hire
                li.entypo-check Onshore Training – 30 minutes
                li.entypo-check In Water Training – 60 minutes
                li.entypo-check Mechanical and Maintenance Training - 60 minutes
                li.entypo-check Multiple Jet Boards and Jet Surf Boards
                li.entypo-check Experience The Jet Ski or Zap Cat
                li.entypo-check Waterproof Cameras and Go Pros To Record The Day
                li.entypo-check Advance In Water Training – 60 minutes
                li.entypo-check Lunch – 60 minutes
                li.entypo-check Freeride - 90 minutes
                li.entypo-check Refreshments and Snacks
                li.entypo-check Complimentary Jet Board Team Rider Shirt and Cap

