extends layout.pug

block custom-styles
  link(rel="stylesheet" href="/stylesheets/under-construction.css")

block main-content
  header.under-construction-header
    h2.under-construction-title UNDER CONSTRUCTION

  p.under-construction-desc We are currently working on it. Stay tuned!
